# Dependencies
node_modules/

# Build output
dist/
output/
client/output

# Logs
logs/
npm-debug.log
yarn-error.log
*.log

# OS files
.DS_Store
*.swp
*.swo

# Azure SWA
.azure/
swa-db-connections/

# IDE
.vscode/
.idea/

# Misc
templates_c/
compile
clicks
sock
pids
basic.zip
phrase.zip
scripts/model_status.log
scripts/nohup.out
data
*bak*
test/unit/coverage
test/e2e/reports
selenium-debug.log

.env